<div id='topNavBlock'>
	<div id='logo'>LOGO</div>
	<ul class='navBar'>
		<li class='topMenu'><a href="#">Home</a></li>
		<li class='topMenu'><a href="#">Projects</a>
			<ul class='subMenuNav'>
				<li class='popUpMenuItem'>
					<a href='/projects/receipes'>Receipes</a>
				</li>
				<li class='popUpMenuItem'>
					<a href='/projects/calculator'>Calculator</a>
				</li>
				<li class='popUpMenuItem'>
					<a href='/projects/todo-app'>ToDo App</a>
				</li>
			</ul>
		</li>
		<li class='topMenu'><a href="#">About</a></li>
	</ul>
</div>
