			<div id='topNavBlock'>
				<div id='logo'>Logo will be here</div>
				<ul class='navBar'>
					<li class='topMenu'><a href="#">Home</a></li>
					<li class='topMenu'><a href="#">Projects</a>
						<ul class='subMenuNav'>
							<li class='popUpMenuItem'>
								<a href='proj1'>Receipes</a>
							</li>
							<li class='popUpMenuItem'>
								<a href='proj2'>Calculator</a>
							</li>
							<li class='popUpMenuItem'>
								<a href='proj3'>ToDo App</a>
							</li>
						</ul>
					</li>
					<li class='topMenu'><a href="#">About</a></li>
				</ul>
			</div>
