<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

<body>
	{% include topnav.html %}
	{% include sidenav.html %}

	{{ content }}
    <main>
        <article>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a sagittis dolor. Sed quis pellentesque sem, at luctus quam. Donec egestas, purus nec aliquam faucibus, lorem augue tempus leo, eget convallis ante felis id neque. Quisque facilisis purus nec diam consequat, id tempus tortor semper. Donec condimentum leo quis nunc ornare interdum. Mauris interdum, felis vel hendrerit pharetra, nisi lorem viverra odio, eget vulputate orci nisi sit amet lorem. Ut eget tincidunt neque. Praesent mattis dictum sapien. Nunc faucibus faucibus metus vitae venenatis. Aliquam sit amet ante neque. Quisque laoreet arcu nisi, et pellentesque mi elementum ac. Vestibulum ultrices nec eros sed malesuada. Donec viverra egestas lorem non dapibus. Cras vitae imperdiet ligula.
		</p>
		</article>
	</main>


	{% include footer.html %}
	
</body>

</html>