body {
    font: 14px Verdana, Geneva, sans-serif;
/*    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    line-height: 1.4em;
    background: #eaeaea url('bg.png');
    color: #4d4d4d;
    width: 30%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
#header {
    text-align: center;
    width: 255px;

}
#calculatorBody {
	width: 225px;
	border: 10px solid maroon;
	border-style: ridge;
	margin: 8px;
	height: 315px;
}
#displaySection {
	height: 25px;
	border: 12px solid gray;
	margin: 1px;
}
#displaySection input{
    border-style: none;
    height: 25px;
    width: 200px;
    padding: 0px;
    text-align: right;
}
.buttonRow {
	height: 50px;
	background: rgb(95, 95, 95);
	border-bottom-style: solid;
}
.numButton {
    float: left;
    width: 46px;
    height: 40px;
    margin: 5px;
    background: black;
    color: white;
    font-size: medium;
    position: center;
}
.numButton:hover{
	background-color: #CEE3F6;
    color: black;
	cursor: pointer;
}
.numButton:focus{
	background-color: #81DAF5;
    color: black;
}
.OnButton {
   float: left;
    width: 46px;
    height: 40px;
    margin: 5px;
    background: black;
    color: white;
    font-size: medium;
    position: center;	
}